* {
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url(https://i.pinimg.com/originals/98/cf/74/98cf74c04206cf057fe2273c5f4dccd0.jpg);
  background-size: cover;
  backgroun-repeat: no-repeat;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-login {
  display: block;
  background: rgb(214, 214, 214);
  text-align: center;
  padding: 20px 30px;
  width: 62%;
}

.logo {
  font-size: 2em;
  display: block;
  margin-top: -10px;
}

.welcome,
.text {
  color: rgb(88, 88, 88);
  display: block;
  margin: 2px;
  margin-bottom: 5px;
}

form {
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  height: 32px;
  margin: 5px;
  padding-left: 15px;
}
input[type="submit"] {
  width: 100%;
  height: 32px;
  margin: 5px;
}
input[type="radio"]{
  margin-left: 0px;
}
.genero {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
a {
  text-decoration: none;
  color: rgb(9, 9, 170);
  font-size: 0.8em;
}
.blue {
  color: rgb(9, 9, 170);
}
.ResetPass {
  margin-top: -6px;
  margin-bottom: 15px;
}

.singup {
  color: rgb(88, 88, 88);
}
input[type="submit"] {
  background: rgba(4, 4, 228, 0.808);
  color: white;
  cursor: pointer;
  font-size: 1em;
}
input[type="submit"]:hover {
  background: rgba(4, 4, 228, 1);
  color: white;
  transition: all 0.4s;
}

@media screen and (min-width: 1026px){
  .content-login {
    width: 45%;
  }
}