* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}


header {
  height: 50px;
  background: rgb(3, 137, 155, 0.8);
  color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo a{
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.search{
  display: flex;
}
input[type="text"] {
  background-color: white;
  width: 20em;
  height: 32px;
  padding-left: 15px;
}
button{
 background-color: rgb(231, 230, 230);
 width: 30px;
 height: 32px;
 cursor: pointer;
}

header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
  margin-right: 15px;
}

#btn-menu {
  display: none;
}

.menu ul {
  background: rgb(3, 137, 155 , 0);
  color: white;
  display: flex;
  list-style: none;
}

.menu ul ul {
  display: none;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  background: rgb(3, 137, 155);
  color: antiquewhite;
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
  background: rgb(3, 137, 155, 0.8);
  color: antiquewhite;
}

.busquedas{
    font-size: 1.2em;
    color: rgb(68, 68, 68);
    margin: 10px 40px;
}
.busquedas > nav > a{
    text-decoration: none;
    color: rgb(9, 9, 170);
    margin-left: 2%;
}


@media (max-width: 885px) {
  header label {
    display: block;
  }
  .fa-align-justify{
    width: 32px;
    margin: 20px;
  }
  .menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
    transform: translateX(-100%);
    transition: all 0.3s;
    background: rgb(3, 137, 155 , 0.7);
  }

  .menu ul {
    display: block;
    background: rgb(3, 137, 155, 0.7);
    color: antiquewhite;
  }

  .menu ul li ul {
    display: block;
    position: static;
  }

  .menu a .fas {
    display: none;
    position: absolute;
    right: 15px;
  }

  #btn-menu:checked ~ .menu {
    transform: translateX(0%);
  }

  .menu ul ul {
    background: rgb(3, 137, 155 , 0);
  }
  .menu ul li:hover ul {
    display: block;
    position: static;
  }
  input[type="text"] {
    width: 10em;
  }

  .busquedas{
      display: flex;
      justify-content: flex-end;
  }
  .menu ul li:hover ul {
    background: transparent;
    color: antiquewhite;
  }

  
}
